/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
}


/*------------------------ header section styles -------------------------*/

.header_top {
    background-color: #fff;
    font-size: 16px;
}